# Created by https://www.gitignore.io

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json


### Sass ###
.sass-cache
*.css.map

### Vagrant ###
**.vagrant/

### gulp ###
**/node_modules/
**/out/
npm-debug.log

### it will be installed when run 'bower install bootstrap-sass' and 'bower install html-inspector' ###
**/vendor/