tr
	td#userId 1
	td#firstName abc
	td#lastName abc
	td#address abc St.
	td#email abc@abc.com
	td#phoneNumber 123-456-7890
	td.text-center
		a(href="#")#delete-btn
			span.glyphicon.glyphicon-trash.itemList-btn
		a(href="#")#info-btn
			span.glyphicon.glyphicon-info-sign.itemList-btn