tr.hidden#templateUser
	td.userId
	td.firstName
	td.lastName
	td.address
	td.email
	td.phoneNumber
	td.text-center
		a(href="#").delete-btn
			span.glyphicon.glyphicon-trash.itemList-btn
		a(href="#").info-btn
			span.glyphicon.glyphicon-edit.itemList-btn