tr
	td#firstName abc
	td#lastName abc
	td#address abc St.
	td#email abc@abc.com
	td#phoneNumber 123-456-7890
	td.text-center
		a(href="#")
			span.glyphicon.glyphicon-trash.itemList-btn
		a(href="#")
			span.glyphicon.glyphicon-edit.itemList-btn