<!DOCTYPE html>
html(lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title USER MANAGER
		link(rel="stylesheet", href="/styles/main.css")
	body
		.container
			include layouts/header.jade
			include layouts/addNew.jade
			include layouts/userList.jade
			include layouts/footer.jade
		script(src="vendor/html-inspector/html-inspector.js")
		script(src="vendor/jquery/dist/jquery.min.js")
		script(src="vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js")
		script(src="vendor/lodash/lodash.min.js")